.hierarchy_tree li div {
  background-color: #f8f9fb;
  padding: 8px 16px;
  position: relative;
  border-radius: 2px;
}

.hierarchy_tree li {
  position: relative;
  padding-top: 6px;
}

.hierarchy_tree li ul li::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #e1e1e1;
  position: absolute;
  top: 0px;
  left: -10px;
}

.hierarchy_tree li ul li:last-child::after {
  height: 58%;
}

.hierarchy_tree p {
  font-size: 12px;
  margin-bottom: 0px;
}

.hierarchy_tree li ul {
  padding-left: 32px;
}

.hierarchy_tree li ul li::before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #e1e1e1;
  position: absolute;
  top: 23px;
  left: -10px;
}

.hierarchy_tree p .fa-folder-open {
  color: #ffc107;
  margin-right: 4px;
}

.completed {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #31b928;
}

.errorTsk {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #ff0000;
}

.hierarchy_tree li div.errorTask {
  background-color: #fabebf;
}

.listStructure {
  width: calc(100% - 250px);
  padding: 0px 16px;
}

.proSide {
  width: 250px;
}

.propHeader {
  background-color: #f8f9fb;
  font-size: 13px;
  padding: 6px 12px;
}

.propGroup tr {
  border: none;
  background-color: transparent;
  height: 25px;
  line-height: 25px;
}
.propGroup tr select {
  font-weight: 100;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

.propGroup tr td:last-child {
  text-align: right;
}
