/** task paginator start **/

.taskPaginatorInner, .taskDetailsHead {
  display: flex;
}

.taskLeft {
  width: 350px;
  padding: 8px;
  height: calc(100vh - 95px);
  overflow: auto;
  padding-top: 0px;
  border-right: 1px solid #e1e1e1;
}

.taskRight {
  width: calc(100% - 350px);
  padding: 8px;
  height: calc(100vh - 95px);
}

.taskLeft .SearchInputArea {
  position: sticky;
  top: 0px;
  background: #fff;
  padding: 5px;
  z-index: 10;
}

.taskLeft .input-group {
  width: 100% !important;
  margin-bottom: 5px;
}

.mainBodyInner.taskPaginator, .taskPaginatorInner .panel {
  padding: 0px;
}

.taskPaginatorInner .accordion {
  margin: 2px 0px;
}

.taskDetailsBox {
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding: 8px;
  margin: 3px 0px;
  cursor: pointer;
}

.taskDetailsBox:hover {
  box-shadow: 0px 1px 1px 1px #ebebeb;
  background-color: #f5f5f5;
}

.taskDetailsBox.active {
  background-color: #DEECF9;
}

.taskDetailsBox h1 {
  font-size: 16px;
  margin: 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0px;
}

.taskDetailsBox p {
  font-size: 11px;
  margin: 8px 0px 0px 0px;
  color: #858585;
}

.taskDetailsBox p strong {
  color: #000;
}

.taskDetailsHead p {
  margin: 0px 0px 5px 0px;
}

.taskDetailsHead div {
  width: 50%;
}

.taskRightHeader h1 {
  font-size: 22px;
  margin-bottom: 16px;
}

.taskRightHeader h1 span {
  color: #858585;
  font-size: 13px;
}

.taskPaginatorInner .tableArea {
  margin-top: 16px;
  min-height: 35vh;
}

.taskRightHeader {
  position: relative;
}

.closeIcons {
  position: absolute;
  right: 16px;
  top: -3px;
  font-size: 26px !important;
}

.timeSoltList li {
  display: inline-block;
  padding: 0px 3px;
  border-right: 1px dotted #e1e1e1;
}

.timeSoltList li:last-child {
  border: none;
}

.timeSoltList li:last-child p strong {
  color: #0078d4;
}

.taskRight .bookDetailTab {
  margin-top: 12px;
  margin-bottom: 12px;
}

.timeSoltList li p {
  font-size: 13px;
  color: #858585;
  margin: 0px;
}

.timeSoltList li p strong {
  color: #000;
}

.iconsStatus ul {
  display: inline-flex;
}

.iconsStatus li button {
  display: flex;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 8px;
  height: 42px;
  width: 110px;
  border: none;
  text-align: left;
}

.iconsStatus {
  background-color: #f3f2f1;
  padding: 12px;
  margin: 0px 8px;
}

.iconsStatus li img {
  width: 32px;
  margin-right: 6px;
}

.iconsStatus li p {
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 500;
}

.iconsStatus li span {
  font-size: 10px;
  color: #858585;
  position: relative;
  top: -8px;
}

#queries .filterArea {
  position: relative;
  z-index: 1;
}

#chapterproperties table thead tr th {
  background-color: #fff;
}

#chapterproperties table tbody tr td:nth-child(2n-1) {
  background: #f3f2f1;
}

ul.bookheadRight {
  position: absolute;
  right: 46px;
  top: 8px;
}

ul.bookheadRight li {
  display: inline-block;
  font-size: 12px;
  padding: 0px 6px;
}

ul.bookheadRight li:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.taskPaginator .tableFixHead {
  min-height: 15vh;
}

.taskPaginator .tab-content.tableFixHead {
  max-height: 10vh;
}

/* #chapterproperties table tbody tr td:nth-child(2n+2) {
  border-right: 6px solid #fff;
} */

/** task paginator end **6